<launch>
	<node pkg="vicon_bridge" type="ViconRvizNodeMain" name="ViconRvizNode" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.10.1:801" type="str"/>
		<param name="tf_ref_frame_id" value="/world" type="str" />
		<param name="scale" value="0.02" type="double" />
		</node>
</launch>
